<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<div class="jumbotron">
  <h1 class="text-center font-italic text-success text-capitalize mb-5">
    Welcome to project two
  </h1>
  <p class="lead text-justify">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt illum
    tenetur, unde odio impedit accusamus accusantium nostrum perferendis iste,
    assumenda excepturi nemo doloribus id nobis doloremque, dolores libero eius.
    Veniam repellat, laboriosam facilis quas doloribus illum velit libero
    corrupti id culpa distinctio nulla ipsam quis provident et, repudiandae
    totam! Veniam nostrum, ullam delectus vitae a deleniti itaque voluptatem
    odio id repellat asperiores numquam provident minus, aliquam iusto! Deserunt
    tempore reiciendis exercitationem quis doloremque laudantium nemo modi,
    animi saepe deleniti repellendus impedit culpa est quo voluptatem fugiat
    odit earum ipsam officiis error nostrum. Dignissimos numquam iste excepturi
    ducimus voluptates alias molestiae quos exercitationem? Quas tempora sint
    eveniet aut unde ad sequi dolorum praesentium nulla sit numquam, qui sed
    voluptatem excepturi laudantium iure voluptatibus quibusdam adipisci
    eligendi! Consequatur eum porro atque? Qui atque itaque cum optio commodi
    eveniet eligendi porro facilis accusamus neque hic est voluptatibus aperiam,
    soluta ipsam. Modi, quo quaerat.
  </p>
  <h2 class="text-success">Here is some info:</h2>
  <p class="lead text-justify">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum ea,
    provident facilis exercitationem corporis saepe distinctio fugit, voluptas,
    veniam ipsa officia ad natus possimus sed iusto eligendi. Perspiciatis quos
    odit pariatur blanditiis recusandae veniam eaque voluptate consectetur
    velit. Accusantium alias, repellendus doloremque perspiciatis impedit dolor
    nulla deserunt culpa laudantium cum ipsa fugit ab, modi sapiente nemo
    beatae. Voluptates, eaque. Numquam atque ipsum saepe assumenda nihil dolore
    distinctio esse, itaque tempora quod placeat? Harum, animi optio!
    Consequatur nemo veritatis saepe in quas fugit fugiat? A, placeat. Autem
    praesentium reprehenderit nobis aliquid, labore, itaque at animi deserunt
    sapiente esse non optio facere ab? Quo vel enim natus explicabo ab ipsa
    repudiandae autem cupiditate ipsum. Aliquam dolor ea, consequatur id porro
    numquam culpa labore odio repellendus nam pariatur provident? Dolorum,
    doloremque nisi sint quisquam nam, consequuntur odio optio perspiciatis
    quasi, ipsum cupiditate. Amet, rem! Praesentium natus similique obcaecati
    quis porro libero harum sapiente!
  </p>
</div>
{% endblock %}
