<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<div class="jumbotron">
  {% if registered %}
  <h1 class="text-center text-success display-1">Thanks❤</h1>
  {% else %}
  <div>
    <h1 class="text-muted text-center mb-5">Registration here</h1>
    <h4 class="ml-4 mb-3">Please fillup the form:</h4>
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %} {{user_form.as_p}} {{profile_form.as_p}}
      <input type="submit" class="btn btn-outline-secondary" value="Register" />
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}
